@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --cream: #f9f4ee;
    --lys: #f4e5cf;
    --gull: #c98a3b;
    --brun: #4a2c1c;
    --mork: #17110d;
    --hvit: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--cream);
    color: var(--brun);
}

h1,
h2,
h3 {
    font-family: "Playfair Display", serif;
}


p {
    font-size: 16px;
    line-height: 1.8;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.logo {
    width: 200px;
    border-radius: 30%;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 70px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--brun);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 3px;
}

nav a:hover {
    color: var(--gull);
}

.hero {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45)), url(media/bakeovn.jpeg);
    background-size: cover;
    background-position: center;
}


.hero-innhold {
    padding-top: 150px;
    color: var(--hvit);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hero-innhold h1 {
    font-size: 68px;
    line-height: 1.05;
}

.hero-innhold p {
    max-width: 600px;
}

.liten-tekst {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
    font-weight: 600;
    color: var(--gull);
}


.knapp {
    background-color: var(--gull);
    color: var(--cream);
    text-decoration: none;
    border: none;
    padding: 15px 28px;
    width: fit-content;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 5px;
}

.knapp:hover {
    background-color: var(--brun);
}